{* This is the welcome page, you can delete it *}

{block content}
<div class="col-sm-offset-4">
	<h1 n:block=title>Vyhladavanie zákaznikov</h1>
</div>
	<p class="col-sm-4 control-label">Rozhranie pre vyhladavanie zákazníka podla: mena, priezviska a čísla karty</p>
	{control searchGrid}
{/block}
